@model MemberRegisterViewModel
<section class="container mt-4 ">
    <h3 class="text-dark">Log in</h3>
    <form method="post" class="w-50 m-auto login">
        <div class="mb-3">
            <label asp-for="Username" class="form-label">User Name</label>
            <input type="name" class="form-control" id="exampleInputPassword1" asp-for="Username">
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
            <div class="form-text">Minimum of 8 characters 1 uppercase letter 1 lowercase letter 1 number</div>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="text-danger" asp-validation-summary=ModelOnly></div>
        <button type="submit" class="btn border-light w-100">Login</button>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
        </div>
        <a asp-controller="account" asp-action="resetpassword" class="text-dark">Forgot Password</a>
        <a asp-controller="account" asp-action="register" class="text-dark ms-5">Create An Account</a>
    </form>
</section>
