<section class="container mt-4 ">
    <h3 class="text-dark">Log in</h3>
    <form class="w-50 m-auto login">
        <div class="mb-3 ">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <div class="form-text">Minimum of 8 characters 1 uppercase letter 1 lowercase letter 1 number</div>
        </div>
        <button type="submit" class="btn border-light w-100">Login</button>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
        </div>
        <a href="resetpassword.html" class="text-dark">Forgot Password</a>
        <a href="register.html" class="text-dark ms-5">Create An Account</a>
    </form>
</section>
