<section class="container mt-4 ">
    <h3 class="text-dark fw-bold">Welcome</h3>
    <div class="w-100 picture-div"> </div>
    <div class="d-flex justify-content-between flex-wrap account">
        <ul class="mt-5 w-25 text-center fw-bold vertical-nav">
            <li id="account_info_btn"><a href="#" id="text_account">Account Info</a></li>
            <li id="orders_btn"><a href="#" id="text_orders">Orders</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
        <div class="mt-3" id="orders">
            <p class="h5 fw-bold pb-5 ms-3 ">Recent Orders</p>
            <div class="d-flex justify-content-between w-75  ms-3">
                <p class="fw-bold "> Orders</p>
                <p class="fw-bold "> Date</p>
                <p class="fw-bold "> Status</p>
                <p class="fw-bold "> Total</p>
            </div>
            <hr class="w-75  ms-3">
            <div class="d-flex justify-content-between w-75  ms-3">
                <p>1</p>
                <p>Nov 23, 2022</p>
                <p>Pending</p>
                <p>$200</p>
            </div>
            <div class="d-flex justify-content-between w-75  ms-3">
                <p>2</p>
                <p>Nov 24, 2022</p>
                <p>Pending</p>
                <p>$100</p>
            </div>
        </div>
        <div class="mt-3" id="account_info">
            <p class="h5 fw-bold pb-5 ms-3 ">My Profile</p>
            <form class="w-75 ms-3">
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Full Name</label>
                        <input type="name" class="form-control" id="exampleInputPassword1">
                    </div>
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Current Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Change Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <div class="form-text">Minimum of 8 characters 1 uppercase letter 1 lowercase letter 1 number</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 w-100 text-center">
                    <button type="submit" class="btn w-45 bg-dark text-white   ">Save</button>
                    <button type="submit" class="btn w-45 border border-dark">Cancel</button>
                </div>
            </form>

        </div>
    </div>

</section>