<section class="container mt-4">
    <h3 class="text-dark">Register</h3>
    <form class="w-50 m-auto register">
        <div class="mb-3">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Full Name</label>
                <input type="name" class="form-control" id="exampleInputPassword1">
            </div>
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <div class="form-text">Minimum of 8 characters 1 uppercase letter 1 lowercase letter 1 number</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <div class="form-text">Minimum of 8 characters 1 uppercase letter 1 lowercase letter 1 number</div>
        </div>
        <button type="submit" class="btn border-light w-100">Create account</button>

    </form>
</section>
