@model PasswordResetViewModel
<section class="container mt-4 ">
    <h3 class="text-dark">Set New Password</h3>
    <form method="post" class="w-50 m-auto mt-5 resetpassword">
        <div class="mb-3">
            <label asp-for="Password" class="form-label">New Password</label>
            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <input type="hidden" asp-for="Email" value="@TempData["email"]" />
        <input type="hidden" asp-for="Token" value="@TempData["token"]" />

        <div class="text-danger" asp-validation-summary=ModelOnly></div>
        <button type="submit" class="btn bg-dark text-white w-100">Save</button>
    </form>
</section>
@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
}