  @model CheckoutViewModel


<header class="mt-5 container-fluid">
    <h2 class="mb-5">Checkout</h2>
</header>
<main>
    <section class="checkout-form container">
        @await Html.PartialAsync("_CheckoutFormPartial",Model.Order)
    </section>
    <section class="checkout-details">
        <div class="checkout-details-inner">
            <div class="checkout-lists">
                @foreach (var item in Model.CheckoutItems)
                {
                    <div class="card">
                        <div class="card-details">
                            <div class="card-name"> @item.Count x @item.Name</div>
                            <div class="card-price text-danger">$@item.TotalPrice.ToString("0.00")</div>
                        </div>
                    </div>
                }
            </div>
            <div class="checkout-shipping">
                <h5>Shipping</h5>
                <p>$19</p>
            </div>
            <div class="checkout-total">
                <h5>Total</h5>
                <p>$@((Model.Total + 19).ToString("0.00"))</p>
            </div>
        </div>
    </section>

</main>

@*@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
}*@
